@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Urban';
    src: url('./assets/font/Urbanist-Bold.ttf');
}
@font-face {
    font-family: 'Urbanthin';
    src: url('./assets/font/Urbanist-Regular.ttf');
}